<!DOCTYPE html>
<html lang="si">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>Slike</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1> SLIKE</h1>

<div class="nav-bar">
    <button><a href="/omeni">O meni</a></button>
    <button><a href="/slike">Slike</a></7a></button>
    <button><a href="/kontakt">Kontakt</a></button>
    <button><a href="/">Domov</a></button>
</div>


</body>
</html>